header, footer {
    background-color: rgb(196, 62, 62);
}

footer p {
    color: white;
}

li > a {
    color:white;
}

.sideContent {
    background-color: rgb(241, 248, 190);
}

.mainContent {
    background-color: rgb(241, 250, 172);
}

.singleContent {
    background-color: rgb(241, 250, 172);
}
