.chessboard > div {
  display: flex;
  width: 100px;
  height: 100px;
  margin: 5px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.chessboard {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
}

.works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 5px;
}

.work {
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.work > img:hover {
  transform: scale(1.4);
  transition-duration: 400ms;
}

.work > span {
  margin-top: 3px;
  text-align: center;
}
